.clock {
  --widget-background-color: #000;
  --widget-text-color: #f0f0f0;
  --secondary-text-color: #ccc;

  --clock-base-text-color: var(--widget-text-color);
  --clock-number-color: var(--widget-text-color);
  --clock-seconds-color: var(--widget-text-color);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
  background-color: var(--widget-background-color);
  color: var(--widget-text-color);
  text-align: center;

  .date-time {
    flex: 1 1 auto;
  }

  .time {
    font-weight: bold;
    font-size: 600%;
    color: var(--clock-base-text-color);

    .hours,
    .minutes {
      color: var(--clock-number-color);
    }

    .seconds {
      color: var(--clock-seconds-color);
      font-size: 80%;
    }

    .am-pm {
      font-size: 50%;
      margin-right: 0.25em;
    }
  }

  .date {
    color: var(--secondary-text-color);
    font-size: 210%;
  }

  .sunrise {
    flex: 0 0 auto;
    font-size: 240%;
    text-align: left;

    .sunrise-row {
      color: var(--secondary-text-color);
      display: block;
      line-height: 1.8;
      white-space: nowrap;

      .wi {
        padding-right: 0.3em;
      }
      .wi-sunrise {
        color: yellow;
      }
      .wi-sunset {
        color: orange;
      }
    }
  }
}
