.dashboard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;

  .summary-widget {
    width: 50%;
    position: relative;
  }

  .summary-widget > * {
    padding: 4%;
    width: 100%;
  }

  .dashboard-row {
    flex: 1 1 auto;

    &.header {
      flex: 1 1 18%;
    }
    &.middle {
      flex: 1 1 21%;
    }
    &.main {
      flex: 1 1 61%;
    }

    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .full-width {
      width: 100%;
    }

    .main-column {
      width: 75%;
    }

    .sidebar {
      width: 25%;
    }
  }
}
